body {
	background-color: #E2E9F6; 
	font-family: 'Slabo 27px', serif;
}

h1 {
	text-align: center;
}
h3 {
	text-align: center;
}


h2 {
	line-height: 90px;
}

p {
	line-height: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #7B7F83;
    color: #FEFEFE;
    text-align: center;
   
}
li {
    float: left;
    padding: 16px;
    font-size: 24px;
    text-align: center;
}

.Name {
	background-color: #FFFF00;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.div {
	column-count: 2;
	column-rule-style: solid;
    column-rule-width: 1px;
}


}
.column {
    float: left;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}
