body {
	background-color: #E2E9F6; 
}

h1 {
	text-align: center;
}
h3 {
	text-align: center;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.SchoolName {
	font-weight: bold;
}
.Graduationyear {
	font-style: italic;

}
h2 {
	line-height: 90px;
}
p {
	line-height: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
li {
    float: left;
}
.Name {
	font-size: 100px
}

.MMFATab {
	text-align: left;
}
.HomeTab {
	text-align: center;
}
.ContactTab {
	text-align: right;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
