body {
	background-color: #E2E9F6; 
font-family: 'Roboto Mono', monospace;    margin: auto;
	
    margin: auto;
}



ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #272727;
    color: #FEFEFE;
    text-align: center;
   
}

li {
    float: left;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none
    color: #FFFFFF;
} 

.Name {
	background-color: #FFFF00;
}

a {
	text-decoration: none;
	color: #272727;
}

.navbar {
	color:#FFFFFF;
}

a:hover {
	text-decoration: underline;
}


.row1 {
	padding: 70px;
    padding-top: 120px;
	background-color: #918CB0;
    opacity: 1;

}

div{

    column-count: 1;
}

.columna {
    float: left;
    width: 33%;
    padding-bottom: 25px;
    padding-top: 60px;
    padding-right: 30px;



}

.columnb {

	font-size: 40px;
	margin-right: 70px
	white-space: normal; 

}

.column1 {
	float: left;
    width: 31%;
    font-size: 45px;
    padding-bottom: 160px;
    padding-top: 70px;
    padding-left: 80px;


}

.column2 {
	white-space: normal; 
	padding-top: 60px;
	margin-right: 70px;


}

.column3 {
    float: left;
    width: 31%;
    font-size: 45px;
    padding-bottom: 360px;
    padding-top: 90px;
    padding-left: 80px;



}

.column4 {
	padding-top: 80px;
    margin-right: 70px;


}


.column5 {
    float: left;
    width: 31%;
    font-size: 45px;
    padding-bottom: 200px;
    padding-top: 60px;
    padding-left: 80px;

}

.column6 {
    white-space: normal; 
    padding-top: 50px;

    
}

.homebar {
    position: fixed;
    width: 100%;
    top: 0px;


}
.row4 {
    padding-bottom: 60px;
    opacity: 1;

}

.column7 {
    float: left;
    width: 31%;
    font-size: 45px;
    padding-bottom: 200px;
    padding-top: 20px;
    padding-left: 80px;

}

.column8 {
    white-space: normal; 
    padding-top: 10px;
}

.row2 {
      opacity: 1;
}

.reporting{
      opacity: 1;
  }

.row5 {
      opacity: 1;
}

.fade {
  opacity: 1;
}

img {
    width:90%;
}

p {
    font-size: 15px;
}

